* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    --orange: #f7941e;
    --dark-gray: #505050;
    --dark-blue: #313c5e;
    --light-gray: #bbbbc0;

    color: var(--dark-gray);
    min-width: 375px;
    max-width: 1920px;
    margin: 0 auto 1rem;
    font: 0.875rem/1.5 Mulish, sans-serif;
    border: 1px solid #bbbbc0;
    overflow-x: hidden;
}

h1 {
    color: var(--orange);
    /* font-size: 2.375rem; */
    font-size: 3rem;
}

h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--dark-blue);
    text-align: center;
    grid-column: 1/-1;
}

h3 {
    font-size: 1.625rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
    margin: 1rem auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.75px;
    font-family: "Roboto Slab", sans-serif;
}

p {
    margin: 2rem 0;
}

p.recap {
    font-size: 1.125rem;
    max-width: 812px;
    text-align: center;
    grid-column: 1/-1;
    margin: 2rem auto;
}

section {
    padding: 3rem 2.1875rem;
    padding: 3rem 10.41%;
}

section article {
    background: #fff;
    border-radius: 0.5rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    min-width: 335px;
    margin-left: -15px;
}

section article>*:not(:first-child) {
    padding-left: 4.66%;
    padding-right: 4.66%;
}

section article img {
    /* margin-left: -4.7%; */
    /* width: calc(100% + 9.34%); */
    width: 100%;
}

section article h2,
section article p,
section article p.recap {
    margin: 1rem 0;
    text-align: left;
}

button {
    color: white;
    background: var(--orange);
    height: 3rem;
    width: 80%;
    margin: 1rem auto;
    display: block;
    border: 0px none;
    border-radius: .5rem;
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;

}

/* HAMBURGER MENU (MOBILE) */

#hamburger-menu {
    width: 1.875rem;
    height: 1.125rem;
    display: block;
    position: sticky;
    margin: 0 35px -1.125rem auto;
    z-index: 4;
    top: 8rem;
    display: none;
}

#hamburger-menu label {
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 4;
}

#hamburger-menu hr {
    background: var(--orange);
    height: 2px;
    border: 0px none;
    margin-top: 0.31rem;
    transform-origin: 0 50%;
    transition: transform 0.4s;
}

#hamburger-menu hr:first-of-type {
    margin-top: 0;
}

#hamburger-on-off {
    display: none;
}

#hamburger-on-off+label+ul {
    margin: -3.625rem 0 0 -308px;
    position: sticky;
    width: 373px;
    padding: 2rem;
    text-align: center;
    background: var(--dark-blue);
    color: var(--orange);
    display: none;
    list-style: none;
}

#hamburger-on-off+label+ul li {
    margin-bottom: 1rem;
}

#hamburger-on-off+label+ul li a {
    display: block;
    color: var(--orange);
}

#hamburger-on-off+label+ul li a:hover {
    color: white;
}

/* Hamburger menu activated */

#hamburger-on-off:checked+label+ul {
    display: block;
}

#hamburger-on-off:checked+label>hr:first-of-type {
    transform: rotate(45deg);
}

#hamburger-on-off:checked+label>hr:last-of-type {
    transform: rotate(-45deg);
}


#hamburger-on-off:checked+label>hr:not(:first-of-type, :last-of-type) {
    transform: scaleY(0);
}

/* Logo and header */

header {
    height: 73px;
    padding: 0.25em 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    position: relative;
    z-index: 4;
    display: none;
}

a {
    text-decoration: none;
}

header a {
    justify-self: end;
}

.header-subtext {
    font-size: 9px;
    color: #84848a;
}

header ul {
    list-style: none;
    font-size: 11px;
}

/* MOBILE APP DOWNLOAD SPLASH */

section#mobile-app-splash {
    position: relative;
    padding-top: 2rem;
    z-index:2;
}

#mobile-app-splash nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: var(--orange);
    text-transform: uppercase;
    font-size: 1.25rem;
    padding-top:0.5rem;
}

nav a:hover {
    color:#fff;
}

nav a:first-of-type {
    margin-left:15%;
}

#mobile-app-hero {
    display: grid;
    grid-template-columns: 35% auto auto;
    align-items: center;
    gap:2rem;
    margin-top: 5rem;
}

#mobile-app-hero aside {
    grid-row: 1/3;
    grid-column: 3;
    text-align: center;
}


#mobile-app-hero h1 {
    align-self:flex-end;
    margin: 0 auto;
    text-align: left;
}

#mobile-app-hero p {
    grid-column: 1/2;
    align-self: flex-start;
}

#mobile-app-hero > img {
    grid-row: 1/3;
    grid-column: 2;
}

.android-badge, .apple-badge {
    width:150px;
    height:65px;
    vertical-align: middle;
}

.apple-badge {
    height: 40px;
}

#mobile-app-splash > a button {
  display: none;
}

button:active {
    background: #fff;
    color: var(--orange);
}

/* soft rounded navy color border extenting from dark blue colored panel above */
#mobile-app-splash::after {
    content: "";
    display: block;
    width: 453.5%;
    padding-top: 453.5%;
    height: 0;
    border-radius: 50%;
    margin: -445.497% 0 0 -183.735%;
    background-color: #313c5e;
    position: absolute;
    z-index: -1;
    top: 100%;
}

/* orange rounded border overlappng the dark blue one */
#mobile-app-splash::before {
    content: "";
    display: block;
    width: 453.5%;
    padding-top: 453.5%;
    border-radius: 50%;
    margin: -444.25% 0 0 -172.4%;
    background-color: var(--orange);
    position: absolute;
    z-index: -1;
    top: 100%;
}



/* SEARCH PANEL */

#search {
    padding: 5% 0 0;
    overflow: hidden;
    position: relative;
    background: url('../assets/images/mobile-search-bg.png') no-repeat 0 0/cover;
    backdrop-filter: blur(5px);
    max-width: 1518px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 3;
}

#search h3 {
    margin: 0 0 4rem;
    font-size: 2.5rem;
}

#search label {
    display: block;
    font-weight: bold;
    margin: 2rem auto;
}

#search input {
    height: 3rem;
    min-width: 335px;
    width: 35.3%;
    display: block;
    margin: 0.5rem auto 0.5rem;
    border-radius: 1.5rem;
    font: 1.125rem/3rem Mulish, sans-serif;
    padding: 0 1rem 0 3rem;
    border: 1px solid #fff;
    outline: 0;
    text-align: left;
    background: white url('../assets/images/search-icon.png') no-repeat 1rem center;
    position: relative;
    z-index: 904;
}

#search input::placeholder {
    color: #C5C5C5;
    display: inline-block;
    font-size: 1.125rem;
}

.autocomplete {
    background: #fff;
    min-width: 335px;
    width: 35.3%;
    min-height: 3rem;
    margin: -3.4rem auto 0;
    border-radius: 1.5rem;
    position: relative;
    z-index: 0;
    padding: 2rem 0 0.5rem;
    color: #505050;
    overflow: hidden;
    text-align: left;
}

.autocomplete p {
    cursor: pointer;
    margin: 0;
    padding: 0 0 0 3rem;
    font: 1.125rem/3rem Mulish, sans-serif;
}

.autocomplete p>a {
    display: block;
    height: 100%;
}

.autocomplete p:first-of-type {
    margin-top: 2rem;
}

div.autocomplete p:hover {
    background-color: #f3f3f3;
}


/* Latest news panel */

#latest-news {
    background-color: var(--orange);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
    text-align: left;
}

#latest-news h4 {
    color: #fff;
}

#latest-news a {
    color: #fff;
    text-decoration: underline;
    margin: 0.5rem 0;
}

#latest-news span {
    text-transform: uppercase;
    font-size: 0.625rem;
}

/* How to panel */

#how-to {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, max(48%, 400px)));
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#how-to>div {
    display: block;
    margin-bottom: 2rem;
    width: 100%;
    position: relative;
    grid-row: span 3;
}

#how-to>div>img {
    width: 100%;
}

.light-panel {
    background-color: #f3f3f3;
}

.light-panel h4 {
    color: var(--dark-blue)
}

.light-gray-panel {
    background-color: rgba(49, 60, 94, 0.1);
}

.dark-panel {
    background: #313c5e;
    color: #fff;
}

.dark-panel h2 {
    color: #fff;
}

.read-more-orange {
    color: var(--orange);
    text-decoration: underline;
    text-transform: uppercase;
    font: bold 1.125rem/1.5 "Mulish", sans-serif;
    display: block;
    text-align: right;
}

.read-more-orange::after {
    content: "";
    display: inline-block;
    margin: 0 1rem 0.1875rem 0.75rem;
    height: 0.5rem;
    width: 0.5rem;
    transform: rotate(45deg);
    border: solid var(--orange);
    border-width: 0 2px 2px 0;
}

.video::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    position: absolute;
    background: rgba(40, 40, 40, 0.8);
}

ol.number {
    list-style: none;
    counter-reset: instructions;
    color: #313c5e;
    font: bold 1rem/1.125rem "Roboto Slab", sans-serif;
    text-transform: uppercase;
    margin-top: 2rem;
}

ol.number li {
    margin: 1rem 0;
    padding-left: 53px;
}

ol.number li::before {
    counter-increment: instructions;
    content: counter(instructions);
    width: 44px;
    height: 44px;
    display: inline-block;
    border-radius: 50%;
    background: #313c5e;
    color: #fff;
    font: bold 26px/44px "Roboto Slab", sans-serif;
    text-align: center;
    margin-right: 0.5rem;
    margin-left: -53px;
    vertical-align: middle;
}

ol.number li strong {
    display: inline-block;
    vertical-align: middle;
}

/* articles section */

#articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, max(48%, 400px)));
    justify-content: center;
    gap: 1rem 2rem;
}

#articles h2 {
    grid-column: 1/-1;
}

#articles article {
    max-width: 750px;
}

/* FAQ */

#faq>article {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

dl input[type='checkbox'] {
    display: none;
}

dt>label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
}

dt {
    min-width: 280px;
    color: var(--dark-blue);
    font: bold 1.125rem/1.5 Mulish, sans-serif;
    padding-top: 1rem;
}

dl>dt:not(dt:first-child) {
    border-top: 1px solid rgba(49, 60, 94, 0.1);
}

dt>label::after {
    content: "";
    display: inline-block;
    margin: 0 1rem 0.1875rem 0.75rem;
    height: 0.5rem;
    width: 0.5rem;
    transform: rotate(45deg);
    border: solid var(--dark-blue);
    border-width: 0 2px 2px 0;
    flex-grow: 0;
    flex-shrink: 0;
    transition: transform 0.25s;
}

input:checked+dt+dd {
    max-height: 30rem;
}

input:checked+dt>label::after {
    transform: rotate(225deg);
}

dd {
    max-height: 0;
    overflow: hidden;
    margin-bottom: 1.25rem;
    transition: max-height .5s;
    padding: 1rem 0 0 2rem;
}


/* Our Partners section */

.gallery {
    display: flex;
    align-items: center;
    height: 6rem;
}

.gallery>p {
    line-height: 6rem;
    width: 3rem;
    text-align: center;
    color: var(--orange);
    cursor: pointer;
}

.gallery>p:hover {
    opacity: 0.6;
}

.gallery>p:first-of-type::before,
.gallery>p:last-of-type::before {
    content: "";
    display: inline-block;
    margin: 0 1rem 0.1875rem 0.75rem;
    height: 0.5rem;
    width: 0.5rem;
    transform: rotate(135deg);
    border: solid var(--orange);
    border-width: 0 2px 2px 0;
    flex-grow: 0;
    flex-shrink: 0;
    transition: transform 0.25s;
}

.gallery>p:last-of-type::before {
    transform: rotate(-45deg);
}

.gallery-images {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

.gallery-images div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.625rem;
    margin: 0 0.5rem;
}


/* mobile styles (for now defaults are mobile so empty) */
@media screen and (max-width: 1518px) {
    #search {
        z-index: 1;
        padding-top: 15%
    }

    #search h3 {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 1400px) {
    #mobile-app-hero h1 {
        text-align: center;
        grid-column: 1/4;
        grid-row: 1;
    }

    #mobile-app-hero p {
        grid-column: 1/4;
        grid-row: 2;
    }

    #mobile-app-hero aside {
        grid-column:3/4;
        grid-row: 3/5;
    }

    #mobile-app-hero > img {
        grid-row: 3/5;
        grid-column: 1;
    }

    nav a:first-of-type {
        margin-left:7%;
    }
}


@media screen and (max-width: 1050px) {
    nav a {
        font-size: 1rem;
    }

    nav a:first-of-type {
        margin-left:5%;
    }

    #articles,
    #how-to {
        grid-template-columns: 100%;
    }

    #mobile-app-hero > img, #mobile-app-hero aside {
        transform:scale(80%);
    }
}

@media screen and (max-width: 849px) {
    #mobile-app-hero h1 {
        font-size: 2.375rem;
    }


    #mobile-app-hero aside, #mobile-app-hero > img {
        display: none;
    }

    #mobile-app-splash a > button {
        display: block;
    }
}

@media screen and (max-width: 780px) {
    header {
        display: flex;
    }

    #hamburger-menu {
        display: block;
    }

    #mobile-app-splash nav {
        display: none;
    }
}