* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    --orange: #f7941e;
    --dark-gray: #505050;
    --dark-blue: #313c5e;
    --light-gray: #bbbbc0;

    color: var(--dark-gray);
    width: 375px;
    margin: 1em auto;
    font: 0.875rem/1.5 Mulish, sans-serif;
    border: 1px solid #bbbbc0;
}

h1 {
    color: var(--orange);
    font-size: 2.375rem;
    grid-column: 1/4;
}

h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--dark-blue);
}

h3 {
    font-size: 1.625rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.75px;
    font-family: "Roboto Slab", sans-serif;
}

p {
    margin: 2rem 0;
}

p.recap {
    font-size: 1.125rem;
}

section {
    padding: 3rem 2.1875rem;
}

section article {
    background: #fff;
    border-radius: 0.5rem;
    padding: 0 0.9375rem 2rem;
    margin-bottom: 1rem;
    width: 335px;
    margin-left: -15px;
}

section article img {
    margin-left: -0.9375rem;
}

section article h2,
section article p {
    margin: 1rem 0;
}

button {
    color: white;
    background: var(--orange);
    height: 3rem;
    width: 100%;
    border: 0px none;
    border-radius: .5rem;
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;

}

/* HAMBURGER MENU (MOBILE) */

#hamburger-menu {
    width: 1.875rem;
    height: 1.125rem;
    display: block;
    position: sticky;
    margin: 0 35px -1.125rem auto;
    z-index: 2;
    top: 8rem;
}

#hamburger-menu label {
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

#hamburger-menu hr {
    background: var(--orange);
    height: 2px;
    border: 0px none;
    margin-top: 0.31rem;
    transform-origin: 0 50%;
    transition: transform 0.4s;
}

#hamburger-menu hr:first-of-type {
    margin-top: 0;
}

#hamburger-on-off {
    display: none;
}

#hamburger-on-off+label+ul {
    margin: -3.625rem 0 0 -308px;
    position: sticky;
    width: 373px;
    padding: 2rem;
    text-align: center;
    background: var(--dark-blue);
    color: var(--orange);
    display: none;
    list-style: none;
}

#hamburger-on-off+label+ul li {
    margin-bottom: 1rem;
}

#hamburger-on-off+label+ul li a {
    display: block;
    color: var(--orange);
}

#hamburger-on-off+label+ul li a:hover {
    color: white;
}

/* Hamburger menu activated */

#hamburger-on-off:checked+label+ul {
    display: block;
}

#hamburger-on-off:checked+label>hr:first-of-type {
    transform: rotate(45deg);
}

#hamburger-on-off:checked+label>hr:last-of-type {
    transform: rotate(-45deg);
}


#hamburger-on-off:checked+label>hr:not(:first-of-type, :last-of-type) {
    transform: scaleY(0);
}

/* Logo and header */

header {
    height: 73px;
    padding: 0.25em 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

header a {
    justify-self: end;
}

.header-subtext {
    font-size: 9px;
    color: #84848a;
}

header ul {
    list-style: none;
    font-size: 11px;
}

/* MOBILE APP DOWNLOAD SPLASH */

section#mobile-app-splash {
    position: relative;
    padding-top: 2rem;
}

#mobile-app-splash>img {
    margin: 0 0 2rem 50%;
    transform: translateX(-50%);
}


button:active {
    background: #fff;
    color: var(--orange);
}


/* SEARCH PANEL */

#search {
    padding-top: 0rem;
    overflow: hidden;
    position: relative;
    background: url('../assets/images/mobile-search-bg.png') no-repeat 0 0/cover;
    backdrop-filter: blur(5px);
}

#search::after {
    content: "";
    display: block;
    width: 1700px;
    height: 1700px;
    border-radius: 50%;
    margin: -1670px 0 0 -700px;
    background-color: #313c5e;
    position: absolute;
    z-index: 0;
    top: 0;
}

#search::before {
    content: "";
    display: block;
    width: 1700px;
    height: 1700px;
    border-radius: 50%;
    margin: -1662px 0 0 -650px;
    background-color: var(--orange);
    position: absolute;
    z-index: 0;
}

/* #search>img {
    position: absolute;
    z-index: 1;
    right: 10px;
} */

#search h3 {
    margin: 4.5rem 0 0.5rem;
}

#search label {
    font-weight: bold;
}

#search input {
    height: 3rem;
    width: 335px;
    display: block;
    margin: 0.5rem auto 0.5rem -0.9375rem;
    border-radius: 1.5rem;
    font: 1.125rem/3rem Mulish, sans-serif;
    padding: 0 1rem 0 3rem;
    border: 1px solid #fff;
    outline: 0;

    background: white url('../assets/images/search-icon.png') no-repeat 1rem center;
    position: relative;
    z-index: 1;
}

#search input::placeholder {
    color: #C5C5C5;
    display: inline-block;
    font-size: 1.125rem;
}

.autocomplete {
    background: #fff;
    width:335px;
    min-height: 3rem;
    margin:-3.4rem 0 0 -0.9375rem;
    border-radius: 1.5rem;
    position: relative;
    z-index: 0;
    padding: 2rem 0 0.5rem;
    color:#505050;
    overflow: hidden;
}

.autocomplete p {
    cursor: pointer;
    margin: 0;
    padding:0 0 0 3rem;
    font: 1.125rem/3rem Mulish, sans-serif;
}

.autocomplete p > a {
    display:block;
    height:100%;
}

.autocomplete p:first-of-type {
    margin-top: 2rem;
}

div.autocomplete p:hover {
    background-color: #f3f3f3;
}


/* Latest news panel */

#latest-news {
    background-color: var(--orange);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#latest-news h4 {
    color: #fff;
}

#latest-news a {
    color: #fff;
    text-decoration: underline;
    margin: 0.5rem 0;
}

#latest-news span {
    text-transform: uppercase;
    font-size: 0.625rem;
}

/* How to panel */

#how-to>div {
    display: block;
    margin-bottom: 2rem;
    width: 303px;
    height: 159px;
    position: relative;
}

/* global classes */
.light-panel {
    background-color: #f3f3f3;
}

.light-panel h4 {
    color: var(--dark-blue)
}

.light-gray-panel {
    background-color: rgba(49, 60, 94, 0.1);
}

.dark-panel {
    background: #313c5e;
    color: #fff;
}

.dark-panel h2 {
    color: #fff;
}

.read-more-orange {
    color: var(--orange);
    text-decoration: underline;
    text-transform: uppercase;
    font: bold 1.125rem/1.5 "Mulish", sans-serif;
    display: block;
    text-align: right;
}

.read-more-orange::after {
    content: "";
    display: inline-block;
    margin: 0 1rem 0.1875rem 0.75rem;
    height: 0.5rem;
    width: 0.5rem;
    transform: rotate(45deg);
    border: solid var(--orange);
    border-width: 0 2px 2px 0;
}

.video::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    position: absolute;
    background: rgba(40, 40, 40, 0.8);
}

ol.number {
    list-style: none;
    counter-reset: instructions;
    color: #313c5e;
    font: bold 1rem/1.125rem "Roboto Slab", sans-serif;
    text-transform: uppercase;
    margin-top: 2rem;
}

ol.number li {
    margin: 1rem 0;
    padding-left: 53px;
}

ol.number li::before {
    counter-increment: instructions;
    content: counter(instructions);
    width: 44px;
    height: 44px;
    display: inline-block;
    border-radius: 50%;
    background: #313c5e;
    color: #fff;
    font: bold 26px/44px "Roboto Slab", sans-serif;
    text-align: center;
    margin-right: 0.5rem;
    margin-left: -53px;
    vertical-align: middle;
}

ol.number li strong {
    display: inline-block;
    vertical-align: middle;
}

/* Buy ticket section */
/* FAQ */

#faq>article {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

#faq p {
    margin: 1rem 0;
}

dl input[type='checkbox'] {
    display: none;
}

dt>label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

dt {
    min-width: 280px;
    color: var(--dark-blue);
    font: bold 1.125rem/1.5 Mulish, sans-serif;
    padding-top: 1rem;
}

dl>dt:not(dt:first-child) {
    border-top: 1px solid rgba(49, 60, 94, 0.1);
}

dt>label::after {
    content: "";
    display: inline-block;
    margin: 0 1rem 0.1875rem 0.75rem;
    height: 0.5rem;
    width: 0.5rem;
    transform: rotate(45deg);
    border: solid var(--dark-blue);
    border-width: 0 2px 2px 0;
    flex-grow: 0;
    flex-shrink: 0;
    transition: transform 0.25s;
}

input:checked+dt+dd {
    max-height: 30rem;
}

input:checked+dt>label::after {
    transform: rotate(225deg);
}

dd {
    max-height: 0;
    overflow: hidden;
    margin-bottom: 1.25rem;
    transition: max-height .5s;
    padding-top: 1rem;
}



/* mobile styles (for now defaults are mobile so empty) */
@media screen and (max-width: 500px) {

    header,
    main,
    footer {}
}