* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    --orange: #f7941e;
    --dark-gray: #505050;
    --dark-blue: #313c5e;
    --light-gray: #bbbbc0;
    --body-bg-color: #f3f3f3;

    --articles-panel-height: calc((3 + 1) * 1.125rem * 1.5);

    color: var(--dark-gray);
    /* min-width: 375px; */
    margin: 0 auto 1rem;
    font: 1rem/1.5 Mulish, sans-serif;
    border: 1px solid #bbbbc0;
    overflow-x: hidden;
    background-color: var(--body-bg-color)
}

main {
    /* max-width: 1920px;
    margin: 0 auto; */
}

h1 {
    color: var(--orange);
    /* font-size: 3.45rem; */
    font-size: 5.375rem;
    margin: 0 auto;
}

h2 {
    margin-bottom: 2rem;
    /* font-size: 2rem; */
    font-size: 4.625rem;
    color: var(--dark-blue);
    text-align: center;
    grid-column: 1/-1;
}

h3 {
    /* font-size: 1.625rem; */
    font-size: 2.375rem;
    line-height: 2.625rem;
    margin: 3rem 0 1rem;
    color:var(--dark-blue);
    
}

h4 {
    /* font-size: 1.125rem; */
    font-size: 3.125rem;
    margin:4rem 3%;
}

h5 {
    font-size: 1rem;
    margin: 1rem auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.75px;
    font-family: "Roboto Slab", sans-serif;
}

p {
    margin-bottom: 2rem;
}

p.recap {
    font-size: 1.25rem;
    max-width: 812px;
    text-align: center;
    grid-column: 1/-1;
    margin: 2rem auto;
}

/* language selection bar */

#lang-input {
    display: none;
}

nav label {
    margin: 0 0 4.125rem calc(100% - 150px);
}

.blue-arrow::after {
    content: "";
    display: inline-block;
    margin: 0 1rem 0.1875rem 0.75rem;
    height: 0.4rem;
    width: 0.4rem;
    transform: rotate(45deg);
    border: solid var(--dark-blue);
    border-width: 0 1px 1px 0;
    flex-grow: 0;
    flex-shrink: 0;
    transition: transform 0.25s;
}

#lang {
    cursor: pointer;
    width:150px;
    color: var(--dark-blue);
    font-size: .75rem;
    text-transform: uppercase;
    position: relative;
}

#lang div {
    position: absolute;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius:  0 0 .25rem .25rem;
}

#lang ul {
    max-height: 1.875rem;
    list-style:none;
    padding-bottom: .75rem;
    background-color: #fff;
}

#lang:hover {
    overflow:visible;
}

#lang:hover ul {
    max-height: min-content;
    
}

#lang ul li {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 1.5rem;
}

#lang ul li:first-of-type {
    height: 1.875rem;
}

#lang ul li a {
    padding: 0;
    color: #d5d7de;
}

#lang img {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}

#lang a {
    width:100%;
    margin: 0;
    display: block;
    height: 1.5rem;
    font-size: .75rem;
    color:#313c5e;
}

.flag-pl {
    background: linear-gradient(to bottom, white 50%, red 50%, red 100%);
}

.flag-ua {
    background: linear-gradient(to bottom, royalblue 50%, yellow 50%, yellow 100%)
}


section {
    padding: 3rem calc((100% - 1920px) / 2 + 278px) 2rem;
}

section article {
    background: #fff;
    border-radius: 0.5rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    /* min-width: 335px; */
    /* margin-left: -15px; */
}

section article>*:not(:first-child) {
    padding-left: 4.66%;
    padding-right: 4.66%;
}

section article img {
    width: 100%;
}

section article h2,
section article p,
section article p.recap {
    margin: 1rem 0;
    text-align: left;
}

.button {
    color: white;
    background: var(--orange);
    text-transform: uppercase;
    border: 1px solid var(--orange);
    border-radius: .25rem;
    font-weight: 800;
    padding: .25rem .5rem;
    display: inline-block;
    text-align: center;
    height: 2.625rem;
    font-size: 1.25rem;
}

.button:hover {
    border: 1px solid white;
}

/* HAMBURGER MENU (MOBILE) */

#hamburger-menu {
    width: 2rem;
    height: 1.5rem;
    top: 8rem;
    right: 2rem;
    z-index: 4;
    position: fixed;
    display: none;
    appearance: none;
    cursor: pointer;
    background: linear-gradient(to bottom, transparent, transparent calc(50% - 1px), var(--orange) calc(50% - 1px), var(--orange) calc(50% + 1px), transparent calc(50% + 1px));
}

#hamburger-menu::before,
#hamburger-menu::after {
    content: "";
    display: block;
    border-radius: 0.25rem;
    background: var(--orange);
    height: .125rem;
    transform-origin: 0 50%;
    transition: transform 0.4s;
}

#hamburger-menu::after {
    margin-top: auto;
}

/* Hamburger menu activated */


#hamburger-menu:checked::before {
    transform: rotate(45deg);
}

#hamburger-menu:checked::after {
    transform: rotate(-45deg);
}


#hamburger-menu:checked {
    background: transparent;
}

/* Logo and header */

header {
    height: 73px;
    padding: 0.25em 0.5em;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    top: 0;
    width: 100%;
    z-index: 4;
    position: absolute;
    display: none;
}

a {
    text-decoration: none;
}

header a {
    justify-self: end;
}

.header-subtext {
    font-size: 9px;
    color: #84848a;
}

header ul {
    list-style: none;
    font-size: 11px;
}

/* MOBILE APP DOWNLOAD SPLASH */

section#mobile-app-splash {
    position: relative;
    padding-top: 0; 
    padding-bottom: 2rem;
    z-index: 3;
    overflow-x: clip;
}

/* Top navigation & links */

#mobile-app-splash nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap-reverse;
}


nav a {
    color: var(--orange);
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: .25rem .5rem;
    margin-top: 0.5rem;
}

nav a:hover {
    color: #fff;
}

nav a:first-of-type {
    margin-right: auto;
}

nav #right-links {
    margin-left: 2rem;
}

nav #right-links a {
    width: 150px;
}

nav #right-links a:not(:last-of-type) {
    margin-right: .5rem;
}

nav #right-links a:first-of-type {
    background: transparent;
    color: var(--orange);
}

nav #right-links a:hover {
    color: white;
    border-color: white;
}

/* Main header panel with mobile app download QR code and links */

#mobile-app-hero {
    display: grid;
    /* grid-template-columns: 35% auto auto; */
    grid-template-columns: repeat(20, 1fr);
    align-items: center;
    margin-top: 4rem;
    row-gap: 2rem;
}

#mobile-app-hero h1 {
    align-self: flex-end;
    margin-left: 0;
    grid-column: 1/10;
    grid-row: 1;
}

#mobile-app-hero p {
    grid-column: 1/10;
    align-self: flex-start;
    text-align: left;
    grid-row: 2;
}

#mobile-app-hero>img {
    grid-row: 1/3;
    grid-column: 10/16;
    height: 25rem;
    justify-self: center;
}

#mobile-app-hero aside {
    grid-row: 1/3;
    grid-column: 16/21;
    text-align: center;
}


.android-badge,
.apple-badge {
    width: 150px;
    height: 65px;
    vertical-align: middle;
}

.apple-badge {
    height: 40px;
}

#mobile-app-splash>a {
    display: none;
}

/* soft rounded navy color border extenting from dark blue colored panel above */
#mobile-app-splash::after {
    content: "";
    display: block;
    width: 453.5%;
    padding-top: 453.5%;
    height: 0;
    border-radius: 50%;
    margin: -445.497% 0 0 -200.735%;
    background-color: #313c5e;
    position: absolute;
    z-index: -1;
    top: 100%;
}

/* orange rounded border overlappng the dark blue one */
#mobile-app-splash::before {
    content: "";
    display: block;
    width: 453.5%;
    padding-top: 453.5%;
    border-radius: 50%;
    margin: -444.25% 0 0 -187.4%;
    background-color: var(--orange);
    position: absolute;
    z-index: -1;
    top: 100%;
}



/* SEARCH PANEL */

#search {
    padding: 5% 0 3rem;
    position: relative;
    background: url('../assets/images/tram-bg.webp') no-repeat 0 0/cover;
    backdrop-filter: blur(15px);
    max-width: 1518px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 3;
    border-radius: .25rem;
    box-shadow: 0 0 .5rem #333;
}

#search h3 {
    margin: 0 0 4rem;
    /* font-size: 2.5rem; */
    font-size: 3.75rem;
    color:#f3f3f3
}

#search label {
    display: block;
    font-weight: bold;
    margin: 2rem auto;
}

#search input {
    height: 3rem;
    min-width: 280px;
    width: 35.3%;
    display: block;
    margin: 0.5rem auto 3rem;
    border-radius: 1.5rem;
    font: 1.125rem/3rem Mulish, sans-serif;
    padding: 0 1rem 0 3rem;
    border: 1px solid #fff;
    outline: 0;
    text-align: left;
    background: white url('../assets/images/search-icon.png') no-repeat 1rem center;
    position: relative;
    z-index: 2;
}

#search input::placeholder {
    color: #C5C5C5;
}

#search input:focus {}

#search input:focus::placeholder {
    color: transparent;
}

#search input:not(:focus)+.autocomplete {
    animation-name: hide;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

.autocomplete {
    max-height: max-content;
    transition: opacity 1s;
    background: #fff;
    min-width: 280px;
    width: 35.3%;
    min-height: 3rem;
    margin: -6rem auto 0;
    border-radius: 1.5rem;
    position: absolute;
    z-index: 1;
    padding: 2rem 0 0.5rem;
    color: #505050;
    overflow: hidden;
    text-align: left;
    left: 50%;
    transform: translateX(-50%);
}

.autocomplete p {
    cursor: pointer;
    margin: 0;
    padding: 0 0 0 3rem;
    font: 1.125rem/3rem Mulish, sans-serif;
}

.autocomplete p>a {
    display: block;
    height: 100%;
}

.autocomplete p:first-of-type {
    margin-top: 2rem;
}

div.autocomplete p:hover {
    background-color: #f3f3f3;
}

@keyframes hide {
    0% {
        max-height: max-content;
    }

    99% {
        max-height: max-content;
    }

    100% {
        max-height: 3rem;
    }
}


/* Latest news panel */

#latest-news {
    background-color: var(--orange);
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
}

#latest-news h4 {
    color: #fff;
}

#latest-news a {
    color: #fff;
    text-decoration: underline;
    margin: 0.5rem 0;
}

#latest-news span {
    text-transform: uppercase;
    font-size: 0.625rem;
}

/* How to panel */

#how-to,
#about-us {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, max(48%, 400px)));
    align-items: start;
    justify-content: center;
    gap: 1rem;
}

#how-to>div {
    width: 100%;
    position: relative;
}

#how-to>div>img,
#about-us>img {
    width: 100%;
}

.light-panel {
    background-color: #f3f3f3;
}

.light-panel h4 {
    color: var(--dark-blue)
}

.light-gray-panel {
    background-color: rgba(49, 60, 94, 0.1);
}

.dark-panel {
    /* background: #313c5e; */
    color: #fff;
}

.dark-panel h2 {
    color: #fff;
}

ol.number {
    list-style: none;
    counter-reset: instructions;
    color: #313c5e;
    font: bold 2.375rem/2.625rem "Roboto Slab", sans-serif;
    text-transform: uppercase;
}

ol.number li {
    margin-bottom: 1rem;
    /* padding-left: 53px; */
    display: flex;
    align-items: center;
}

ol.number li::before {
    counter-increment: instructions;
    content: counter(instructions);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: #313c5e;
    color: #fff;
    font: bold 3.125rem/5rem "Roboto Slab", sans-serif;
    text-align: center;
    margin-right: 1rem;
    flex-shrink:0;
    /* margin-left: -53px; */
}

ol.number li strong {
    display: inline-block;
    vertical-align: middle;
}

/* articles section */

#articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, max(48%, 400px)));
    justify-content: center;
    /* align-items: start; */
    gap: 1rem 2rem;
}

#articles h2 {
    grid-column: 1/-1;
}

#articles article {
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

/* #articles article:last-of-type:not(:nth-of-type(even)) {
    grid-column: 1/-1;
    max-width: none;
} */

input.read-more {
    cursor: pointer;
    appearance: none;
    color: var(--orange);
    text-decoration: underline;
    text-transform: uppercase;
    font: bold 1.125rem/1.5 "Mulish", sans-serif;
    text-align: right;
    position: absolute;
    bottom: 2rem;
    background-color: white;
    width: 100%;
    z-index: 1;
}

.read-more+div {
    max-height: max-content;
    overflow: hidden;
    transition: max-height 1s;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--dark-blue);
}

.read-more+div p.recap {
    /* margin: 1.6875rem 0 0; */
}

.read-more+div::after {
    content: "";
    background-color: white;
    margin-top: auto;
    position: relative;
    z-index: 2;
    display: block;
    height: 1.6875rem;
}

.read-more:not(:checked) {
    color: var(--dark-blue);
    z-index: 3;
}

.read-more:checked {
    animation: return 1s forwards;
}

.read-more:checked+div {
    max-height: var(--articles-panel-height) !important;
    min-height: var(--articles-panel-height);
}

.read-more::before {
    content: "zamknij";
}

.read-more-ukr::before {
    content: "закрити";
}

.read-more:checked::before {
    content: "więcej..";
}

.read-more-ukr:checked::before {
    content: "читати далі.."
}

.read-more::after {
    content: "";
    display: inline-block;
    margin: 0 1rem 0.1875rem 0.75rem;
    height: 0.5rem;
    width: 0.5rem;
    transform: rotate(45deg);
    border: solid var(--orange);
    border-width: 0 2px 2px 0;
    transition: 0.5s transform;
}

.read-more:not(:checked)::after {
    border-color: var(--dark-blue);
    transform: rotate(-135deg);
}

@keyframes return {
    0% {
        z-index: 3
    }

    99% {
        z-index: 3
    }

    100% {
        z-index: 1
    }
}

/* FAQ */

#faq>article {
    padding: 4rem 0;
    margin-bottom: 2rem;
}

#faq > p {
    padding-left: 3%;
}

dl input[type='checkbox'] {
    display: none;
}

dt>label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
}

dt {
    /* min-width: 280px; */
    color: var(--dark-blue);
    font: bold 1.125rem/1.5 Mulish, sans-serif;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid rgba(49, 60, 94, 0.1);
}

dt:first-of-type {
    padding-top: 0;
    margin-top: 0;
    border-top: 0px none;
}

dt>label::after {
    content: "";
    display: inline-block;
    margin: 0 1rem 0.1875rem 0.75rem;
    height: 0.5rem;
    width: 0.5rem;
    transform: rotate(45deg);
    border: solid var(--dark-blue);
    border-width: 0 2px 2px 0;
    flex-grow: 0;
    flex-shrink: 0;
    transition: transform 0.25s;
}

input:checked+dt+dd {
    max-height: 30rem;
}

input:checked+dt>label::after {
    transform: rotate(225deg);
}

dd {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
    padding-left: 3%;
}

dd::before {
    content:"";
    display:block;
    height: 1rem;
}

/* About us section - main styles are shared in How to section */

#about-us p:not(.recap) {
    align-self: flex-start;
    font-size: 1rem;
}

/* Our Partners section */

.gallery p {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    top:0;
    left:0;
    position: sticky;
    width: 3rem;
    height: 100%;

    color: var(--orange);
    background: #f3f3f3;
}

.gallery p:hover::after {
    opacity: 0.6;
}

.gallery p::after {
    content: "";
    height: 0.5rem;
    width: 0.5rem;
    transform: rotate(135deg);
    border: solid var(--orange);
    border-width: 0 2px 2px 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.gallery p::before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% + 2rem);
    background: var(--body-bg-color);
}

.gallery p:last-of-type {
    right:0;
}

.gallery p:last-of-type::after {
    transform: rotate(-45deg);
}

.gallery p+img {
    grid-row: 1;
}

.gallery {
    margin-top: 3rem;
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    overflow: hidden;
    width: 100%;
    scroll-behavior: smooth;
    column-gap: 2rem;
    justify-items: center;
    font-size: 0.625rem;
    position: relative;
}

/* Media queries */
@media screen and (max-width: 1920px) {
    section#mobile-app-splash {
        /* padding: 2rem calc(2.25rem + 12.604%); */
        padding: 0 calc(15.6634% - 22.73px) 2rem;
    }
}

@media screen and (max-width: 1518px) {
    nav a {
        font-size: 1rem;
    }

    nav img {
        height: 80%;
        width: 120px;
    }

    nav #right-links a {
        height: 80%;
        width: 120px;
    }

    #search {
        z-index: 1;
        padding-top: 15%
    }

    #search h3 {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    #mobile-app-hero>img {
        height: 20rem;
        justify-self: end;
    }

    .mobile-qr-download {
        width: 6rem;
    }
}

@media screen and (max-width: 1400px) {

    h1 {
        font-size: 2.5rem;
    }

    #mobile-app-hero p {
        font-size: 1rem;
        padding-right: 1rem;
    }
}


@media screen and (max-width: 1150px) {
    nav #right-links {
        margin-left: auto;
    }

    #articles,
    #how-to,
    #about-us {
        grid-template-columns: 100%;
    }

    #articles article:last-of-type:not(:nth-of-type(even)) {
        max-width: 750px;
    }

    #mobile-app-splash nav {
        align-items: flex-start;
    }

    nav #right-links a {
        display: block;
    }

    nav #right-links a:not(:last-of-type) {
        margin-right: 0;
    }
}

@media screen and (max-width:950px) {
    h2,h3 {
        font-size: 2rem;
    }

    h3 {
        margin: 1rem auto;
    }

    h4 {
        font-size: 1rem;
        margin: 2rem 0 1rem 3%;
    }

    p {
        font-size: .875rem;
    }

    p.recap {
        margin: 0 auto 2rem;
    }

    ol.number {
        font-size: 1rem;
        line-height: 1.125rem;
    }

    ol.number > li::before {
        height: 2.75rem;
        width: 2.75rem;
        font-size: 1.625rem;
        line-height: 2.75rem;
    }

    nav label {
        width: 100%;
        margin:1rem 0 0;
    }
    
    #lang {

        width: 100%;
    }

    #lang > div {
        position: static;
    }

    #lang ul {
        max-height: 3rem;
    }

    #lang li {
        margin-bottom:1.25rem;
    }

    #lang ul li:first-of-type {
        height: 3rem;
    }

    #lang a {
        color: #d5d7de;
        display: block;
        font-size: 1rem;
    }

    nav {
        box-shadow: 0 .125rem .5rem #aaa
    }

    nav>img {
        margin: 30px auto 20px;
    }

    header {
        display: flex;
    }

    #mobile-app-hero {
        grid-template-columns: 100%;
        gap: 0;
    }

    #mobile-app-hero h1 {
        width: 100%;
        white-space: nowrap;
        font-size: 2.375rem;
        margin-top: 5rem;
    }


    #mobile-app-hero aside,
    #mobile-app-hero>img {
        display: none;
    }

    #mobile-app-splash > a {
        display: block;
        max-width: 25rem;
        margin: 1rem auto 0;
    }

    #hamburger-menu {
        display: flex;
        flex-direction: column;
    }

    #hamburger-menu:checked+nav {
        margin-left: 0;
    }


    #mobile-app-splash nav {
        flex-direction: column;
        text-align: center;
        position: fixed;
        width: 100vw;
        left: 0;
        top: 0;
        z-index: 3;
        padding-bottom: 0rem;
        background-color: rgba(49, 60, 94, 0.95);
        opacity: 0.95;
        border-radius: 0 0 1rem 1rem;
        border: 1px solid #000;
        transition: margin .25s ease-in;
        margin-top: 0;
        margin-left: 100%;
        overflow: hidden;
    }

    nav a,
    #right-links,
    nav #right-links a {
        width: 100%;
        border: 0px none;
        font-size: 1rem;
    }

    nav a:first-of-type {
        margin-bottom: 1.5rem;
    }

    nav #right-links a:last-of-type {
        color: var(--orange);
        background: transparent;
    }

    nav #right-links a:hover {
        color: white;
        background: transparent;
    }
}

@media (hover:none) {
    #lang-input:checked + label > #lang {
        overflow: visible;
    }
    
    #lang-input:checked + label > #lang  ul {
        max-height: min-content;
    }
}